.search-results {
  background-color: white;
  border: 1px solid #ddd;
  width: 50%;
  max-height: 120px;
  overflow-y: auto;
  margin-top: 5px;
}

.city {
  text-decoration: underline;
  margin-left: -15px;
  font-size: 18px;
  cursor: pointer;
}

.search-results p:hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 500px) {
  .search-results {
    margin-right: 140px;
  }
}
