main {
  height: 115vh;
  background-image: url("../../images/backgroundImg.jpg");
  background-repeat: no-repeat;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}

.error-message {
  text-align: center;
  font-size: 30px;
}

.forecast-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  main {
    height: 125vh;
  }
}

@media screen and (max-width: 915px) {
  main {
    height: 115vh;
  }
}

@media screen and (max-width: 860px) {
  main {
    height: 100vh;
  }
}

@media screen and (max-width: 450px) {
  main {
    height: 105vh;
  }

  .error-message {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  main {
    height: 112vh;
  }
}
