main {
  height: 105vh;
  background-image: url("../../images/backgroundImg.jpg");
  background-repeat: no-repeat;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}

.error-message {
  text-align: center;
  font-size: 30px;
}

.forecast-container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1026px) {
  main {
    height: 130vh;
  }
}

@media screen and (max-width: 1025px) {
  main {
    height: 130vh;
  }
}

@media screen and (max-width: 830px) {
  main {
    height: 120vh;
  }
}

@media screen and (max-width: 915px) {
  main {
    height: 115vh;
  }
}

@media screen and (max-width: 545px) {
  main {
    height: 105vh;
  }
}
@media screen and (max-width: 485px) {
  main {
    height: 110vh;
  }
}
@media screen and (max-width: 450px) {
  .error-message {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  main {
    height: 112vh;
  }
}

@media screen and (max-width: 380px) {
  main {
    height: 115vh;
  }
}
